<html>
<head>
<title>Template Title</title>

<!-- css goes here -->
<link rel="stylesheet" href="tailwind_compiled.css" type="text/css" />
<!-- End css -->

<!-- Highlight.js -->

<!-- End Highlight.js -->

</head>
<body>

<!-- include-before -->
<!-- End include-before -->


<!-- custom layout -->
<div class="px-4 py-10 max-w-3xl mx-auto sm:px-6 sm:py-12 lg:max-w-4xl lg:py-16 lg:px-8 xl:max-w-6xl">

<div class="flex flex-col w-full text-left lg:text-center py-12">
<div class="space-y-1 text-center">
<div>
	<h1 class="text-3xl font-extrabold text-black tracking-tight sm:text-4xl md:text-5xl md:leading-[3.5rem]">Template Title</h1>
	<h2 class="text-xl text-gray-800 tracking-tight sm:text-2xl md:text-2xl md:leading-[3.5rem] italic"></h2>
</div>
<div class="space-y-10">
	<span class="text-base leading-6 font-medium text-gray-800">By <span class="text-semibold">Your Name</span></span> ·
	<div class="sr-only">Published on </div><span class="text-base leading-6 font-medium text-gray-800"><time>August 07, 2021</time></span>
</div>
</div>
</div>


<div id="adding-an-rmarkdown-template" class="section level2">
<h2>Adding an RMarkdown Template</h2>
<p>This file is what a user will see when they select your template. Make sure that you update the fields in the yaml header. In particular you will want to update the <code>output</code> field to whatever format your template requires.</p>
<p>This is a good place to demonstrate special features that your template provides. Ideally it should knit out-of-the-box, or at least contain clear instructions as to what needs changing.</p>
<p>Finally, be sure to remove this message!</p>
</div>

</div>
<!-- End custom layout -->

<!-- include-after -->
<!-- End include-after -->

</body>
</html>
