<html>
<head>
<title>$title$</title>

<!-- css goes here-->
<!-- End css goes here -->

<!-- Highlight.js -->
$if(highlightjs)$
<style type="text/css">code{white-space: pre;}</style>
<link rel="stylesheet"
href="$highlightjs$/$if(highlightjs-theme)$$highlightjs-theme$$else$default$endif$.css"
$if(html5)$$else$type="text/css" $endif$/>
<script src="$highlightjs$/highlight.js"></script>
<style type="text/css">
pre:not([class]) {
background-color: white;
}
</style>
<script type="text/javascript">
if (window.hljs && document.readyState && document.readyState === "complete") {
window.setTimeout(function() {
hljs.initHighlighting();
}, 0);
}
</script>
$endif$

$if(highlighting-css)$
<style type="text/css">code{white-space: pre;}</style>
<style type="text/css">
$highlighting-css$
</style>
$endif$
<!-- End Highlight.js -->

</head>
<body>

<!-- include-before -->
$for(include-before)$
$include-before$
$endfor$
<!-- End include-before -->


<!-- custom layout -->
<div class="px-4 py-10 max-w-3xl mx-auto sm:px-6 sm:py-12 lg:max-w-4xl lg:py-16 lg:px-8 xl:max-w-6xl">

<div class="flex flex-col w-full text-left lg:text-center py-12">
<div class="space-y-1 text-center">
<div>
	<h1 class="text-3xl font-extrabold text-black tracking-tight sm:text-4xl md:text-5xl md:leading-[3.5rem]">$title$</h1>
	<h2 class="text-xl text-gray-800 tracking-tight sm:text-2xl md:text-2xl md:leading-[3.5rem] italic">$subtitle$</h2>
</div>
<div class="space-y-10">
	<span class="text-base leading-6 font-medium text-gray-800">By <span class="text-semibold">$author$</span></span> ·
	<div class="sr-only">Published on </div><span class="text-base leading-6 font-medium text-gray-800"><time>$date$</time></span>
</div>
</div>
</div>


$body$

</div>
<!-- End custom layout -->

<!-- include-after -->
$for(include-after)$
$include-after$
$endfor$
<!-- End include-after -->

</body>
</html>


